.gsv-console-agent {
  min-height: calc(100vh - 98px);
  margin: -20px;
  background: var(--void);
}

.gsv-console-agent .gsv-ae {
  min-height: calc(100vh - 98px) !important;
}

@media (max-width: 680px) {
  .gsv-console-agent {
    margin: -12px;
  }
}
